.brand {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  /* background-color: red; */
}
@font-face {
  font-family: "Deco";
  src: url(../../Assets/fonts/MonoLisa-Bold.ttf);
}
.brand:before {
  background-size: 100% 100%;
  content: "R";
  line-height: 205px;
  color: white;

  font-size: 75px;
  font-family: Deco;

  text-align: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: absolute;

  z-index: 99999 !important;
}
.brand:before :content {
  color: red;
}
.logo {
  animation: 5s linear infinite;
  animation-name: rotate-0;
  animation-delay: 0s;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  background: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
}
/* svg {
  width: 500px;
  height: 500px;
} */
svg path {
  positon: absolute;
  fill: none;
  stroke-width: 2;
  top: 0;
  left: 0;

  /*mix-blend-mode: multiply;*/
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  animation: 4s linear infinite;
}

.logo svg path:nth-child(1) {
  opacity: 1;
  animation-name: rotate-1;
  animation-delay: 0.5s;
}
.logo svg path:nth-child(2) {
  opacity: 0.5;
  animation-name: rotate-2;
  animation-delay: 0.6s;
}
.logo svg path:nth-child(3) {
  opacity: 0.8;
  animation-name: rotate-3;
  animation-delay: 0.7s;
}

@keyframes scale-1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate-0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes rotate-3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
